.navbar {
    background-color: #10171f;
    border-bottom: 2px solid #d2a778;
    padding: 10px 20px;
  
    .navbar-brand {
      color: #d2a778;
      font-weight: bold;
      font-size: 1.5rem;
    }
  
    .nav-link {
      color: #d2a778 !important;
      margin-left: 15px;
      font-weight: 500;
      transition: color 0.3s ease-in-out;
  
      &:hover {
        color: white !important;
      }
    }
  
    .navbar-toggler-icon {
      background-color: #d2a778;
    }

    .logo {
      max-width: 100px;
    }
  }
  