<app-navbar></app-navbar>

<main class="container-fluid">
  <app-presentation></app-presentation>
  <app-events></app-events>
  <app-games></app-games>
  <section id="gallery" class="gallery-section">
    <div class="container">
      <h2 class="section-title">Nos serveurs</h2>
      <p>Découvrez quelques serveurs de notre communauté :</p>
  
      <div class="gallery">
        <div class="gallery-item">
          <img src="assets/images/serveur-rust.png" alt="Image 1">
        </div>
        <div class="gallery-item">
          <img src="assets/images/serveur-mc.png" alt="Image 2">
        </div>
        <div class="gallery-item">
          <img src="assets/images/serveur-palworld.png" alt="Image 3">
        </div>
        <div class="gallery-item">
          <img src="assets/images/serveur-eph.png" alt="Image 4">
        </div>
      </div>

    </div>
  </section>
  
  
  <app-team></app-team>
  <app-testimonials></app-testimonials>
  <app-contact></app-contact>
  <footer class="footer">
    <div class="container-fluid">
      <p>© 2025 Pax Horizon - Association Loi 1901</p>
    </div>
  </footer>
  
</main>

<button id="scrollToTop" (click)="scrollToTop()" class="scroll-top hidden">
  ⬆️
</button>
