<app-navbar></app-navbar>

<main class="container-fluid">
  <app-presentation></app-presentation>
  <app-games></app-games>
  <section id="minecraft-map" class="minecraft-map-section">
    <div class="container">
      <h2 class="section-title">🌍 Carte Minecraft</h2>
      <p>Explorez notre monde Minecraft en direct :</p>
  
      <div class="map-container">
        <iframe 
          src="http://83.143.117.23:60199/#world:-6075:0:-2650:11390:0:0:0:0:perspective"
          width="100%" 
          height="600px" 
          frameborder="0" 
          allowfullscreen>
        </iframe>
      </div>
  
      <a href="http://83.143.117.23:60199/#world:-6075:0:-2650:11390:0:0:0:0:perspective"
         target="_blank" class="btn-map">
         🌍 Ouvrir en plein écran
      </a>
    </div>
  </section>
  
  <app-events></app-events>
  <app-team></app-team>
  <app-testimonials></app-testimonials>
  <app-contact></app-contact>
  <footer class="footer">
    <div class="container-fluid">
      <p>© 2025 Pax Horizon - Association Loi 1901</p>
    </div>
  </footer>
  
</main>

<button id="scrollToTop" (click)="scrollToTop()" class="scroll-top hidden">
  ⬆️
</button>
