<section id="presentation" class="presentation-section">
  <div class="container">
    <h2 class="section-title">
      <strong>LA PAX HORIZON EST UNE ASSOCIATION LOI 1901 & UNE COMMUNAUTÉ !</strong>
    </h2>

    <div class="content-wrapper">
      <div class="description">
        <p>
          <em>C'est à dire ?</em> Nous proposons une Communauté différente, un Refuge et un Hub regroupé autour de :
        </p>

        <ul class="list">
          <li>
            Plusieurs jeux :
            Black Desert Online, Minecraft, LoL, Once Human, l'Univers Pokémon
          </li>
          <li>
            Plusieurs serveurs de Jeux :
            Minecraft [Vanilla & Moddé], Palworld, Rust [Primitive], 2 serveurs éphémères
          </li>
          <li>
            Plusieurs passions : Cuisine, musique, photo, ciné-série, manga-comics, DIY
          </li>
          <li>
            Plusieurs événements : Des tirages au sort, concours, tournoi etc.
          </li>
        </ul>

        <p class="italic text-center">Mais tout ceci n'est qu'une façade d'un projet bien plus grand !</p>
        <p class="italic text-center">
          Pourquoi notre belle communauté ne deviendrait-elle pas <strong>l'Héroïne</strong> de sa propre Histoire ?
        </p>

        <p>
          L'Association, avec un grand A, a pour objectif de réaliser des actions caritatives à échelle locale et dans la Francophonie en aidant nos causes :
        </p>

        <ul class="list">
          <li>Le Bien-être Animal [Nos Amis à 4 pattes ou 6 ou 18...]</li>
          <li>Aide aux Gamers en situation d'handicap [Tout le monde doit pouvoir jouer, même toi Loïc]</li>
          <li>Aide aux Gamers dans une situation précaire [Car jouer améliore parfois nos vies]</li>
        </ul>

        <p>
          Nous finançons tout ça grâce à nos événements, à vous et aux dons. Nous voulons participer au bien-être de ce monde et...
        </p>
        <p class="italic highlight-text text-center">TOI et notre communauté en sommes une des nombreuses solutions !</p>
      </div>

      <!-- Image à droite -->
      <div class="image-container">
        <img src="assets/images/presentation.png" alt="Présentation">
      </div>
    </div>

    <a href="https://discord.gg/NpFWqFpH" target="_blank" class="btn-join">
      <img src="assets/images/social/discord.png" alt="discord">Nous rejoindre
    </a>
  </div>
</section>
