<section id="presentation" class="presentation-section">
    <div class="container">
      <h2 class="section-title">Présentation de l'Association</h2>
      <p class="description">
        Pax Horizon est une association créée pour rassembler les passionnés de jeux vidéo.
        Nous mettons en avant l'entraide, le partage, la bienveillance et le plaisir de jouer ensemble.

        En 2025, le projet est devenu une association Loi 1901.
      </p>
  
      <div class="info">
        <p><strong>Date de création :</strong> 2024</p>
        <p><strong>Notre but :</strong> Créer une communauté solidaire et active, afin de promouvoir des valeurs de solidarité et de collaboration.</p>
        <p><strong>Comment rejoindre ?</strong> En nous contactant sur Discord !</p>
        <div class="causes">
          <p><strong>Les causes que nous soutenons :</strong></p>
          <p>- Le bien être animal</p> 
         <p>- Aider les joueurs en situation de handicap et/ou précarité</p>
   
        </div>
        
      </div>
  
      <a href="https://discord.gg/NpFWqFpH" target="_blank" class="btn-join">Nous rejoindre</a>
    </div>
  </section>
  